
.mf[data-v-768559]{width:80%;max-width:600px
}
h1[data-v-768559]{margin-bottom:2rem
}
@-webkit-keyframes fadein-data-v-768559{
0%{opacity:0
}
to{opacity:1
}
}
@keyframes fadein-data-v-768559{
0%{opacity:0
}
to{opacity:1
}
}
.mic-check>div[data-v-768559]{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center;outline:1px solid #000;margin-bottom:2rem;padding:2rem;-webkit-animation:fadein-data-v-768559 .2s;animation:fadein-data-v-768559 .2s
}
.mic-check>div>*[data-v-768559]{max-width:600px
}
.mic-check button[data-v-768559]{margin:2rem 0
}
.mic-allowed[data-v-768559],.mic-blocked[data-v-768559],.mic-prompt[data-v-768559],.mic-test[data-v-768559]{display:none
}
.mic-check.mic--active .mic-allowed[data-v-768559],.mic-check.mic--not-checked .mic-test[data-v-768559],.mic-check.mic--testing .mic-prompt[data-v-768559]{display:-webkit-box;display:-ms-flexbox;display:flex
}
.mic-check.mic--active .mic-allowed[data-v-768559]{padding-bottom:4rem
}
.mic-check.mic--active .mic-allowed p[data-v-768559]{padding-bottom:2rem
}
.mic-check.mic--blocked .mic-blocked[data-v-768559]{display:-webkit-box;display:-ms-flexbox;display:flex
}
.mf[data-v-538551]{width:80%;max-width:600px
}
video[data-v-538551]{width:90%;margin:2rem
}
.video-wrapper[data-v-538551]{width:auto;position:relative;width:90%
}
.playpause[data-v-538551]{background-repeat:no-repeat;width:50%;height:50%;position:absolute;left:0;right:0;top:0;bottom:0;margin:auto;background-size:contain;background-position:50%
}
.playpause svg[data-v-538551]{pointer-events:none;width:100%;height:100%
}
.playpause svg path[data-v-538551]{fill:#fff;-webkit-transition:all .2s;transition:all .2s
}
.playpause:hover svg path[data-v-538551]{fill:#f14b2e
}
.playpause.is-hidden[data-v-538551]{opacity:0
}
@-webkit-keyframes fadein-data-v-538551{
0%{opacity:0
}
to{opacity:1
}
}
@keyframes fadein-data-v-538551{
0%{opacity:0
}
to{opacity:1
}
}
.mic-check>div[data-v-538551]{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center;outline:1px solid #000;padding:2rem;-webkit-animation:fadein-data-v-538551 .2s;animation:fadein-data-v-538551 .2s
}
.mic-check>div>*[data-v-538551]{max-width:600px
}
.mic-check button[data-v-538551]{margin:2rem 0
}
.mic-allowed[data-v-538551],.mic-blocked[data-v-538551],.mic-prompt[data-v-538551],.mic-test[data-v-538551]{display:none
}
.mic-check.mic--active .mic-allowed[data-v-538551],.mic-check.mic--blocked .mic-blocked[data-v-538551],.mic-check.mic--not-checked .mic-test[data-v-538551],.mic-check.mic--testing .mic-prompt[data-v-538551]{display:-webkit-box;display:-ms-flexbox;display:flex
}
.character-cutomiser-container[data-v-24062c]{width:100%
}
.character-cutomiser[data-v-24062c],.character-cutomiser-container[data-v-24062c]{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-pack:distribute;justify-content:space-around
}
.character-cutomiser[data-v-24062c]{-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-flex:0;-ms-flex:0 1 35%;flex:0 1 35%
}
.swatches li[data-v-24062c]{margin:2rem 0
}
.character-preview[data-v-24062c]{width:240px
}
.character-preview svg[data-v-24062c]{width:100%
}
.character-preview.skin_l .skin path[data-v-24062c],.character-preview.skin_l .skin polygon[data-v-24062c]{fill:#fadcbc
}
.character-preview.skin_m-l .skin path[data-v-24062c],.character-preview.skin_m-l .skin polygon[data-v-24062c]{fill:#e0bb95
}
.character-preview.skin_m .skin path[data-v-24062c],.character-preview.skin_m .skin polygon[data-v-24062c]{fill:#bf8f68
}
.character-preview.skin_m-d .skin path[data-v-24062c],.character-preview.skin_m-d .skin polygon[data-v-24062c]{fill:#9b643d
}
.character-preview.skin_d .skin path[data-v-24062c],.character-preview.skin_d .skin polygon[data-v-24062c]{fill:#594539
}
.character-preview.hair_l .hair path[data-v-24062c],.character-preview.hair_l .hair polygon[data-v-24062c]{fill:#000
}
.character-preview.hair_m-l .hair path[data-v-24062c],.character-preview.hair_m-l .hair polygon[data-v-24062c]{fill:#561f00
}
.character-preview.hair_m .hair path[data-v-24062c],.character-preview.hair_m .hair polygon[data-v-24062c]{fill:#edc201
}
.character-preview.hair_m-d .hair path[data-v-24062c],.character-preview.hair_m-d .hair polygon[data-v-24062c]{fill:#f60
}
.character-preview.hair_d .hair path[data-v-24062c],.character-preview.hair_d .hair polygon[data-v-24062c]{fill:#0066cb
}
img[data-v-4bd7fe]{opacity:.5;cursor:pointer
}
img[data-v-4bd7fe]:hover{opacity:.7
}
.is-active img[data-v-4bd7fe]{opacity:1
}
.select-creature[data-v-4bd7fe]{width:100%
}
ul.creatures[data-v-4bd7fe]{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end;width:100%
}
ul.creatures>*[data-v-4bd7fe]{-webkit-box-flex:0;-ms-flex:0 0 20%;flex:0 0 20%;max-width:170px;padding:1rem 20px 0
}
ul.creatures li[data-v-4bd7fe]{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center
}
button[data-v-4bd7fe]{margin:1rem 0 0
}
.status[data-v-4bd7fe]{margin-top:1rem
}
.status svg[data-v-4bd7fe]{width:40px;height:40px
}
.is-active .status[data-v-4bd7fe]{opacity:1
}
.is-active svg path[data-v-4bd7fe]{fill:green
}
.tasks-wrapper[data-v-0f7db8]{display:-webkit-box;display:-ms-flexbox;display:flex;padding-top:1rem;position:relative
}
.tasks-wrapper>*[data-v-0f7db8]{-webkit-box-flex:1;-ms-flex:1 1 50%;flex:1 1 50%
}
.dividing-line[data-v-0f7db8]{position:absolute;height:90%;top:5%;width:1px;left:50%;background-color:#f4745e
}
.task-box[data-v-0f7db8]{width:100%;min-width:600px
}
.task-box h1[data-v-0f7db8]{margin-top:.5rem
}
.task-box p[data-v-0f7db8]{margin:.5rem 0 1rem
}
.task-box.emoji-creator[data-v-0f7db8]{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center
}
#canvas[data-v-0f7db8]{background-color:transparent;outline:1px dashed #000
}
.canvas-and-created-emoji[data-v-0f7db8]{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center
}
img[data-v-0f7db8]{opacity:.5
}
img[data-v-0f7db8]:hover{opacity:.7
}
.is-active img[data-v-0f7db8]{opacity:1
}
.select-happyIcon[data-v-0f7db8]{width:100%
}
ul.happyIcons[data-v-0f7db8]{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-pack:distribute;justify-content:space-around;width:100%;min-width:400px;margin-left:2rem
}
ul.happyIcons>*[data-v-0f7db8]{-webkit-box-flex:0;-ms-flex:0 0 33%;flex:0 0 33%
}
button[data-v-0f7db8]{margin:0
}
img.created-emoji[data-v-0f7db8]{opacity:1
}
img.example-icon[data-v-0f7db8]{opacity:1;width:30px;height:30px
}
.is-active .status[data-v-0f7db8]{opacity:1
}
.is-active svg path[data-v-0f7db8]{fill:green
}
.is-active[data-v-a9eb88]{outline:4px solid red!important
}
#canvas[data-v-a9eb88]{background-color:#f8d8b3;padding:.5rem;border-radius:2rem
}
.arrow-left svg[data-v-a9eb88]{-webkit-transform:rotate(180deg);transform:rotate(180deg)
}
.headset-constructor[data-v-a9eb88]{margin:2rem auto 1rem
}
.headset-constructor[data-v-a9eb88],.headset-constructor ul[data-v-a9eb88]{display:-webkit-box;display:-ms-flexbox;display:flex
}
.headset-constructor ul[data-v-a9eb88]{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-ms-flex-pack:distribute;justify-content:space-around;margin:0 1rem
}
img[data-v-d09a1f]{opacity:.5;cursor:pointer
}
img[data-v-d09a1f]:hover{opacity:.7
}
.is-active img[data-v-d09a1f]{opacity:1
}
.select-note[data-v-d09a1f],ul.notes[data-v-d09a1f]{width:100%
}
ul.notes[data-v-d09a1f]{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-pack:distribute;justify-content:space-around
}
ul.notes>*[data-v-d09a1f]{-webkit-box-flex:0;-ms-flex:0 0 30%;flex:0 0 30%
}
button[data-v-d09a1f]{margin:2rem 0
}
.is-active .status[data-v-d09a1f]{opacity:1
}
.is-active svg path[data-v-d09a1f]{fill:green
}
.is-active[data-v-ba814d]{outline:4px solid red!important
}
#canvas[data-v-ba814d]{outline:3px solid red
}
button svg[data-v-ba814d]{pointer-events:none
}
.cave-paintings-wrapper[data-v-ba814d]{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:100%;margin-top:1rem
}
.example-painting[data-v-ba814d]{width:345px;margin-bottom:1rem
}
.canvas-container[data-v-ba814d]{margin-bottom:1rem
}
.canvas-container[data-v-ba814d],.canvas-container ul[data-v-ba814d]{display:-webkit-box;display:-ms-flexbox;display:flex
}
.canvas-container ul[data-v-ba814d]{margin-left:2rem;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-ms-flex-pack:distribute;justify-content:space-around
}
.canvas-draw-here-prompt[data-v-ba814d]{position:absolute;width:100%;height:100%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;color:#f4745e;font-size:2rem;letter-spacing:.2rem
}
.canvas-wrapper[data-v-ba814d]{position:relative;background-color:#cfcec9
}
.cave-bg[data-v-ba814d]{position:absolute;top:0;left:0;width:100%
}
.savedCanvasImg[data-v-ba814d]{max-width:100%
}
button.colourChoice_red[data-v-ba814d]{background:#c81033;border:2px solid #ed1e45
}
button.colourChoice_red[data-v-ba814d]:before{background:#990c27;-webkit-box-shadow:0 0 0 2px #ed1e45,0 .625rem 0 0 #bfc0b3;box-shadow:0 0 0 2px #ed1e45,0 .625rem 0 0 #bfc0b3
}
button.colourChoice_red[data-v-ba814d]:hover:before{-webkit-box-shadow:0 0 0 2px #ed1e45,0 .5rem 0 0 #bfc0b3;box-shadow:0 0 0 2px #ed1e45,0 .5rem 0 0 #bfc0b3
}
button.colourChoice_red[data-v-ba814d]:active:before{-webkit-box-shadow:0 0 0 2px #ed1e45,0 0 #bfc0b3;box-shadow:0 0 0 2px #ed1e45,0 0 #bfc0b3
}
button.colourChoice_red.is-active[data-v-ba814d]{border-color:#6a081b
}
button.colourChoice_red.is-active[data-v-ba814d]:before{background:#6a081b;-webkit-box-shadow:0 0 0 2px #6a081b,0 .625rem 0 0 #bfc0b3;box-shadow:0 0 0 2px #6a081b,0 .625rem 0 0 #bfc0b3
}
button.colourChoice_yellow[data-v-ba814d]{background:#fcc931;border:2px solid #fdd663
}
button.colourChoice_yellow[data-v-ba814d]:before{background:#f7b903;-webkit-box-shadow:0 0 0 2px #fdd663,0 .625rem 0 0 #bfc0b3;box-shadow:0 0 0 2px #fdd663,0 .625rem 0 0 #bfc0b3
}
button.colourChoice_yellow[data-v-ba814d]:hover:before{-webkit-box-shadow:0 0 0 2px #fdd663,0 .5rem 0 0 #bfc0b3;box-shadow:0 0 0 2px #fdd663,0 .5rem 0 0 #bfc0b3
}
button.colourChoice_yellow[data-v-ba814d]:active:before{-webkit-box-shadow:0 0 0 2px #fdd663,0 0 #bfc0b3;box-shadow:0 0 0 2px #fdd663,0 0 #bfc0b3
}
button.colourChoice_yellow.is-active[data-v-ba814d]{border-color:#c49303
}
button.colourChoice_yellow.is-active[data-v-ba814d]:before{background:#c49303;-webkit-box-shadow:0 0 0 2px #c49303,0 .625rem 0 0 #bfc0b3;box-shadow:0 0 0 2px #c49303,0 .625rem 0 0 #bfc0b3
}
button.colourChoice_green[data-v-ba814d]{background:#460;border:2px solid #690
}
button.colourChoice_green[data-v-ba814d]:before{background:#230;-webkit-box-shadow:0 0 0 2px #690,0 .625rem 0 0 #bfc0b3;box-shadow:0 0 0 2px #690,0 .625rem 0 0 #bfc0b3
}
button.colourChoice_green[data-v-ba814d]:hover:before{-webkit-box-shadow:0 0 0 2px #690,0 .5rem 0 0 #bfc0b3;box-shadow:0 0 0 2px #690,0 .5rem 0 0 #bfc0b3
}
button.colourChoice_green[data-v-ba814d]:active:before{-webkit-box-shadow:0 0 0 2px #690,0 0 #bfc0b3;box-shadow:0 0 0 2px #690,0 0 #bfc0b3
}
button.colourChoice_green.is-active[data-v-ba814d]{border-color:#000
}
button.colourChoice_green.is-active[data-v-ba814d]:before{background:#000;-webkit-box-shadow:0 0 0 2px #000,0 .625rem 0 0 #bfc0b3;box-shadow:0 0 0 2px #000,0 .625rem 0 0 #bfc0b3
}
button.colourChoice_grey[data-v-ba814d]{background:#b7b6ad;border:2px solid #cfcec8
}
button.colourChoice_grey[data-v-ba814d]:before{background:#9f9d92;-webkit-box-shadow:0 0 0 2px #cfcec8,0 .625rem 0 0 #bfc0b3;box-shadow:0 0 0 2px #cfcec8,0 .625rem 0 0 #bfc0b3
}
button.colourChoice_grey[data-v-ba814d]:hover:before{-webkit-box-shadow:0 0 0 2px #cfcec8,0 .5rem 0 0 #bfc0b3;box-shadow:0 0 0 2px #cfcec8,0 .5rem 0 0 #bfc0b3
}
button.colourChoice_grey[data-v-ba814d]:active:before{-webkit-box-shadow:0 0 0 2px #cfcec8,0 0 #bfc0b3;box-shadow:0 0 0 2px #cfcec8,0 0 #bfc0b3
}
button.colourChoice_grey.is-active[data-v-ba814d]{border-color:#888576
}
button.colourChoice_grey.is-active[data-v-ba814d]:before{background:#888576;-webkit-box-shadow:0 0 0 2px #888576,0 .625rem 0 0 #bfc0b3;box-shadow:0 0 0 2px #888576,0 .625rem 0 0 #bfc0b3
}
.mammoth[data-v-43b8bb]{width:100px
}
.mammoth-rows-container[data-v-43b8bb]{width:100%
}
.mammoth-row[data-v-43b8bb]{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;margin-top:1rem;border-bottom:1px solid red;width:100%
}
.mammoth-row--content[data-v-43b8bb],.mammoth-row--title[data-v-43b8bb]{display:-webkit-box;display:-ms-flexbox;display:flex
}
.mammoth-row--content[data-v-43b8bb],.mammoth-row--title[data-v-43b8bb]{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center
}
.mammoth-row--title[data-v-43b8bb]{-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-bottom:1rem
}
.mammoth-row--title>*[data-v-43b8bb]{margin:0 1rem
}
.mammoth-row-title[data-v-43b8bb]{min-width:140px
}
.mammoth-row--content>*[data-v-43b8bb]{display:none;margin:0 .5rem
}
.mammoth-row--content.rec-btn-is-visible .recBtn[data-v-43b8bb],.mammoth-row--content.recording_in_store .listenback-button[data-v-43b8bb]{display:block
}
.mammoth-row--content.recording-is-happening .recBtn[data-v-43b8bb]{display:none
}
.mammoth-row--content.recording-is-happening .countdown[data-v-43b8bb],.mammoth-row--content.recording-is-happening .progress[data-v-43b8bb]{display:block
}
.mammoth-row--content.recording-is-happening .listenback-button[data-v-43b8bb]{display:none
}
.mammoth-row--content[data-v-43b8bb]{-webkit-box-align:center;-ms-flex-align:center;align-items:center
}
h1[data-v-2758b9]{margin-bottom:2rem
}
.canvas-container[data-v-2758b9]{outline:1px dashed red;width:1024px;height:576px;position:relative
}
.canvas--background[data-v-2758b9]{position:absolute;top:0;right:0;width:1024px;height:576px;background-image:url(https://a-d.dev/images/assets/easter.jpg);background-size:contain;z-index:-1
}
#canvas[data-v-2758b9]{outline:1px solid teal
}
.preview-img-wrapper[data-v-2758b9]{width:800px
}
.preview-img[data-v-2758b9]{outline:1px solid teal;width:100%
}
.big-input[data-v-4d1c59]{font-size:2rem;margin:2rem 0;padding:1rem;min-width:500px;outline:5px solid #f4745e;border:none;border-radius:none
}
.name-preview[data-v-4d1c59]{font-size:3rem;color:#f4745e
}
#stage[data-v-e783a3]{margin:2rem 0
}
.dev-tools[data-v-e783a3]{display:-webkit-box;display:-ms-flexbox;display:flex
}
.endscreen *[data-v-6a554d]{margin:1rem 0
}
.credits[data-v-6a554d]{font-size:3rem;margin-top:0
}
.name-preview[data-v-6a554d]{color:#f4745e
}